.learn-card{
background-color: rgb(249, 251, 253);
/* border: 1px solid red; */
width: 32%;
border-radius: 5px;
margin: 5px;
/* padding: 5px; */
display: flex;
flex-direction: column;
justify-content: space-around;

}
.fill-color{
    background-color:  rgb(53, 11, 92);
    color: white;
    padding: 3px;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 500;
}
