.color {
    color: red;
}

.nav-bar-color {
    background-color: rgb(53, 11, 92);
}

.nav-bar-text {
    color: white;
}

.bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}

.tagle-button {
    /* color:white; */
    background-color: white;
}
@media screen and (min-width:799px) {
    .more{
        display: none;
    }
    
}

@media screen and (max-width:991px) {
    .button {
        display: none;
    }

}
